Nejprve jsem si nahrála data stažená z mapscrapingu ve formátu json, která jsem si pro snadnější práci u sebe ve složce pojmenovala jednoduše dataset_supermarket.json a nechám si zobrazit prvních 5 řádků těchto dat.

In [1]:
import pandas as pd

selected_clmns = pd.read_json('dataset_supermarket.json')

selected_clmns.head(5)

,rank,title,price,categoryName,address,neighborhood,street,city,postalCode,state,...,locatedIn,hotelStars,hotelDescription,checkInDate,checkOutDate,similarHotelsNearby,subTitle,isExternalServicePlace,externalId,updatesFromCustomers
0,20,CBA Potraviny U Niederlů,None,Obchod s potravinami,"Brněnec 3, 569 04 Brněnec, Česko",Brněnec,"Brněnec 3, Brněnec",Brněnec,569 04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,140,Setnička Tomáš,None,Obchod s potravinami,"Liberecká 47, 463 42 Hodkovice nad Mohelkou, Č...",None,Liberecká 47,None,463 42,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,139,HADAMI Group s.r.o,None,Obchod s potravinami,"nám. T. G. Masaryka 52, 463 42 Hodkovice nad M...",None,nám. T. G. Masaryka 52,None,463 42,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,138,Fiedler Bohumil,None,Prodejna ovoce a zeleniny,"Želivského 10, 466 05 Jablonec nad Nisou 5, Česko",None,Želivského 10,None,466 05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,156,ČerstváSklizeň.cz,None,Prodejna ovoce a zeleniny,"Palackého 30c, 466 04 Jablonec nad Nisou 4, Česko",None,Palackého 30c,None,466 04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Data se mi zdají malinko nepřehledná a nezobrazují se celá, nechám si tedy zobrazit názvy sloupců.

In [2]:
selected_clmns.columns

Index(['rank', 'title', 'price', 'categoryName', 'address', 'neighborhood',
       'street', 'city', 'postalCode', 'state', 'countryCode', 'phone',
       'phoneUnformatted', 'claimThisBusiness', 'location', 'totalScore',
       'permanentlyClosed', 'temporarilyClosed', 'placeId', 'categories',
       'fid', 'cid', 'reviewsCount', 'imagesCount', 'imageCategories',
       'scrapedAt', 'googleFoodUrl', 'hotelAds', 'openingHours',
       'peopleAlsoSearch', 'placesTags', 'reviewsTags', 'additionalInfo',
       'gasPrices', 'url', 'searchPageUrl', 'searchString', 'language',
       'isAdvertisement', 'imageUrl', 'kgmid', 'emails', 'phones',
       'phonesUncertain', 'linkedIns', 'twitters', 'instagrams', 'facebooks',
       'youtubes', 'tiktoks', 'pinterests', 'discords', 'reviews',
       'leadsEnrichment', 'reviewsDistribution', 'website', 'domain',
       'additionalOpeningHours', 'reserveTableUrl', 'description', 'locatedIn',
       'hotelStars', 'hotelDescription', 'checkInDate', 'checkOutDate',
       'similarHotelsNearby', 'subTitle', 'isExternalServicePlace',
       'externalId', 'updatesFromCustomers'],
      dtype='object')

Podle těchto názvů vyberu jen sloupce, se kterými budu chtít pracovat.

In [3]:
selected_clmns = selected_clmns[["title", "categoryName","address","location"]]
selected_clmns.head(5)

,title,categoryName,address,location
0,CBA Potraviny U Niederlů,Obchod s potravinami,"Brněnec 3, 569 04 Brněnec, Česko","{'lat': 49.6277426, 'lng': 16.5204798}"
1,Setnička Tomáš,Obchod s potravinami,"Liberecká 47, 463 42 Hodkovice nad Mohelkou, Č...","{'lat': 50.6663195, 'lng': 15.0890685}"
2,HADAMI Group s.r.o,Obchod s potravinami,"nám. T. G. Masaryka 52, 463 42 Hodkovice nad M...","{'lat': 50.665798, 'lng': 15.0895155}"
3,Fiedler Bohumil,Prodejna ovoce a zeleniny,"Želivského 10, 466 05 Jablonec nad Nisou 5, Česko","{'lat': 50.7411594, 'lng': 15.1571424}"
4,ČerstváSklizeň.cz,Prodejna ovoce a zeleniny,"Palackého 30c, 466 04 Jablonec nad Nisou 4, Česko","{'lat': 50.7355423, 'lng': 15.16878}"

Krásné, to je přesně ono. Teď jen budu potřebovat rozdělit adresu na více sloupců. Protože to neumím udělat v jednom kroku a taky se chci při práci kontrolovat, že vše vypadá jak má, tak se teď tímto budu zabývat ve více krocích.

Nejprve si rozdělím adresu podle dělítka - čárka  - tím bych měla získat adresu rosekanou na 3 část - 1. Ulice a ČP (street and number), 2. PSČ (zip_code) a Obec (city), 3. stát (country). Původní sloupec s názvem address zahodím.

In [5]:
selected_clmns[['street and number', 'zip_code and city', 'country']] = selected_clmns['address'].str.split(', ', n=2, expand=True)

selected_clmns.drop(columns=['address'], inplace=True)

selected_clmns.head(5)

,title,categoryName,location,street and number,zip_code and city,country
0,CBA Potraviny U Niederlů,Obchod s potravinami,"{'lat': 49.6277426, 'lng': 16.5204798}",Brněnec 3,569 04 Brněnec,Česko
1,Setnička Tomáš,Obchod s potravinami,"{'lat': 50.6663195, 'lng': 15.0890685}",Liberecká 47,463 42 Hodkovice nad Mohelkou,Česko
2,HADAMI Group s.r.o,Obchod s potravinami,"{'lat': 50.665798, 'lng': 15.0895155}",nám. T. G. Masaryka 52,463 42 Hodkovice nad Mohelkou,Česko
3,Fiedler Bohumil,Prodejna ovoce a zeleniny,"{'lat': 50.7411594, 'lng': 15.1571424}",Želivského 10,466 05 Jablonec nad Nisou 5,Česko
4,ČerstváSklizeň.cz,Prodejna ovoce a zeleniny,"{'lat': 50.7355423, 'lng': 15.16878}",Palackého 30c,466 04 Jablonec nad Nisou 4,Česko

Dále rozdělím sloupec zip_code and city podle první a druhé mezery, kdy mi potom zůstane jeden sloupec s prvním částí PSČ (zip1) a druhý sloupec s druhou částí PSČ (zip 2) a nakonec třetí sloupec s názvem city. Původní sloupec zase rovnou odstraním.

In [6]:
selected_clmns[['zip1', "zip2", "city"]] = selected_clmns['zip_code and city'].str.split(' ', n=2, expand=True)

selected_clmns.drop(columns=['zip_code and city'], inplace=True)

selected_clmns.head(5)

,title,categoryName,location,street and number,country,zip1,zip2,city
0,CBA Potraviny U Niederlů,Obchod s potravinami,"{'lat': 49.6277426, 'lng': 16.5204798}",Brněnec 3,Česko,569,04,Brněnec
1,Setnička Tomáš,Obchod s potravinami,"{'lat': 50.6663195, 'lng': 15.0890685}",Liberecká 47,Česko,463,42,Hodkovice nad Mohelkou
2,HADAMI Group s.r.o,Obchod s potravinami,"{'lat': 50.665798, 'lng': 15.0895155}",nám. T. G. Masaryka 52,Česko,463,42,Hodkovice nad Mohelkou
3,Fiedler Bohumil,Prodejna ovoce a zeleniny,"{'lat': 50.7411594, 'lng': 15.1571424}",Želivského 10,Česko,466,05,Jablonec nad Nisou 5
4,ČerstváSklizeň.cz,Prodejna ovoce a zeleniny,"{'lat': 50.7355423, 'lng': 15.16878}",Palackého 30c,Česko,466,04,Jablonec nad Nisou 4

Sloupce zip1 a zip2 spojím v nový sloupec s názvem zip_code. Původní sloupce zase osdtraním.

In [7]:
selected_clmns['zip_code'] = selected_clmns['zip1'] + ' ' + selected_clmns['zip2']
selected_clmns.drop(columns=['zip1', 'zip2'], inplace=True)

In [8]:
selected_clmns.head(5)

,title,categoryName,location,street and number,country,city,zip_code
0,CBA Potraviny U Niederlů,Obchod s potravinami,"{'lat': 49.6277426, 'lng': 16.5204798}",Brněnec 3,Česko,Brněnec,569 04
1,Setnička Tomáš,Obchod s potravinami,"{'lat': 50.6663195, 'lng': 15.0890685}",Liberecká 47,Česko,Hodkovice nad Mohelkou,463 42
2,HADAMI Group s.r.o,Obchod s potravinami,"{'lat': 50.665798, 'lng': 15.0895155}",nám. T. G. Masaryka 52,Česko,Hodkovice nad Mohelkou,463 42
3,Fiedler Bohumil,Prodejna ovoce a zeleniny,"{'lat': 50.7411594, 'lng': 15.1571424}",Želivského 10,Česko,Jablonec nad Nisou 5,466 05
4,ČerstváSklizeň.cz,Prodejna ovoce a zeleniny,"{'lat': 50.7355423, 'lng': 15.16878}",Palackého 30c,Česko,Jablonec nad Nisou 4,466 04

Dále si rozdělím street and number podle první mezery od zadu na dva sloupce s názve street a house_number. ůvodní sloupec zase osdtraním

In [9]:
selected_clmns[["street", "house_number"]] = selected_clmns['street and number'].str.rsplit(' ', n=1, expand=True)
selected_clmns.drop(columns=['street and number'], inplace=True)
selected_clmns.head(5)

,title,categoryName,location,country,city,zip_code,street,house_number
0,CBA Potraviny U Niederlů,Obchod s potravinami,"{'lat': 49.6277426, 'lng': 16.5204798}",Česko,Brněnec,569 04,Brněnec,3
1,Setnička Tomáš,Obchod s potravinami,"{'lat': 50.6663195, 'lng': 15.0890685}",Česko,Hodkovice nad Mohelkou,463 42,Liberecká,47
2,HADAMI Group s.r.o,Obchod s potravinami,"{'lat': 50.665798, 'lng': 15.0895155}",Česko,Hodkovice nad Mohelkou,463 42,nám. T. G. Masaryka,52
3,Fiedler Bohumil,Prodejna ovoce a zeleniny,"{'lat': 50.7411594, 'lng': 15.1571424}",Česko,Jablonec nad Nisou 5,466 05,Želivského,10
4,ČerstváSklizeň.cz,Prodejna ovoce a zeleniny,"{'lat': 50.7355423, 'lng': 15.16878}",Česko,Jablonec nad Nisou 4,466 04,Palackého,30c

Nyní se pokusím rozdělit sloupec location podle klíčů na 2 nové sloupce s názvem latitude a longitude

In [10]:
selected_clmns['latitude'] = selected_clmns['location'].str.get('lat')
selected_clmns['longitude'] = selected_clmns['location'].str.get('lng')
selected_clmns.drop(columns=['location'], inplace=True)
selected_clmns.head(5)

,title,categoryName,country,city,zip_code,street,house_number,latitude,longitude
0,CBA Potraviny U Niederlů,Obchod s potravinami,Česko,Brněnec,569 04,Brněnec,3,49.627743,16.520480
1,Setnička Tomáš,Obchod s potravinami,Česko,Hodkovice nad Mohelkou,463 42,Liberecká,47,50.666320,15.089068
2,HADAMI Group s.r.o,Obchod s potravinami,Česko,Hodkovice nad Mohelkou,463 42,nám. T. G. Masaryka,52,50.665798,15.089515
3,Fiedler Bohumil,Prodejna ovoce a zeleniny,Česko,Jablonec nad Nisou 5,466 05,Želivského,10,50.741159,15.157142
4,ČerstváSklizeň.cz,Prodejna ovoce a zeleniny,Česko,Jablonec nad Nisou 4,466 04,Palackého,30c,50.735542,15.168780

Nyní si vyberu a přeskládám sloupce

In [11]:
selected_clmns = selected_clmns[["title", "categoryName","city", "street", "house_number", "zip_code", "latitude", "longitude"]]
selected_clmns.head(5)

,title,categoryName,city,street,house_number,zip_code,latitude,longitude
0,CBA Potraviny U Niederlů,Obchod s potravinami,Brněnec,Brněnec,3,569 04,49.627743,16.520480
1,Setnička Tomáš,Obchod s potravinami,Hodkovice nad Mohelkou,Liberecká,47,463 42,50.666320,15.089068
2,HADAMI Group s.r.o,Obchod s potravinami,Hodkovice nad Mohelkou,nám. T. G. Masaryka,52,463 42,50.665798,15.089515
3,Fiedler Bohumil,Prodejna ovoce a zeleniny,Jablonec nad Nisou 5,Želivského,10,466 05,50.741159,15.157142
4,ČerstváSklizeň.cz,Prodejna ovoce a zeleniny,Jablonec nad Nisou 4,Palackého,30c,466 04,50.735542,15.168780

Takto bych data uložila do nového datasetu, který zatím nespouštím, nejsem si jistá  názvy sloupců title a categoryName, možná se budou muset přejmenovat

In [ ]:
# selected_clmns.to_json('supermarkets.json')