Otevření souboru s přiřazenými ruiany

In [13]:
import pandas as pd

df = pd.read_csv('dpd_getAll_country203_kod_obce.csv')

df.head(5)

,id,company,street,city,country_id,house_number,postcode,phone,fax,email,...,open_weekend,latitude,longitude,hours,photo,kod_adresy,search_type,search_term,search_matches_cnt,kod_obce
0,CZ10037,Teleric Elektro,Pražská,Brandýs Nad Labem,203,67/3,25001,225373373,NaN,info@dpd.cz,...,1,50.184980,14.659560,"[{'day': 1, 'dayName': 'Pondělí', 'openMorning...",NaN,14608618.0,full_address,Pražská 67/3 Brandýs Nad Labem 25001,1.0,538094.0
1,CZ10046,Elektro-styl.cz,Radlická,Praha,203,1167/17,15000,225373373,NaN,info@dpd.cz,...,0,50.062314,14.404054,"[{'day': 1, 'dayName': 'Pondělí', 'openMorning...",NaN,22086986.0,full_address,Radlická 1167/17 Praha 15000,1.0,554782.0
2,CZ10075,FUXTEC - zahradni technika,Nádražní,Sedlčany,203,906,26401,225373373,NaN,info@dpd.cz,...,0,49.656350,14.432210,"[{'day': 1, 'dayName': 'Pondělí', 'openMorning...",NaN,23042061.0,full_address,Nádražní 906 Sedlčany 26401,1.0,541281.0
3,CZ10084,Fedák Elektro,Malé Náměstí,Rokycany,203,121,33701,225373373,NaN,info@dpd.cz,...,1,49.741580,13.597470,"[{'day': 1, 'dayName': 'Pondělí', 'openMorning...",NaN,26702819.0,full_address,Malé Náměstí 121 Rokycany 33701,1.0,559717.0
4,CZ10090,Elektro OK1,Náměstí Míru,Svitavy,203,196/79,56802,225373373,NaN,info@dpd.cz,...,1,49.755830,16.467440,"[{'day': 1, 'dayName': 'Pondělí', 'openMorning...",NaN,18916368.0,full_address,Náměstí Míru 196/79 Svitavy 56802,1.0,577731.0

In [14]:
df.columns

Index(['id', 'company', 'street', 'city', 'country_id', 'house_number',
       'postcode', 'phone', 'fax', 'email', 'homepage', 'pickup_network_type',
       'pickup_allowed', 'return_allowed', 'dropoff_allowed',
       'express_allowed', 'cardpayment_allowed', 'cod_allowed', 'service',
       'open_weekend', 'latitude', 'longitude', 'hours', 'photo', 'kod_adresy',
       'search_type', 'search_term', 'search_matches_cnt', 'kod_obce'],
      dtype='object')

kontrola sloupců a výběr jen pár potřebných

In [15]:
vybrane_sloupce = ['company', 'kod_obce', 'city', 'postcode', 'street', 'house_number', 'latitude', 'longitude' ]
df_vybrany = df[vybrane_sloupce]

In [16]:
df_vybrany.head(5)

,company,kod_obce,city,postcode,street,house_number,latitude,longitude
0,Teleric Elektro,538094.0,Brandýs Nad Labem,25001,Pražská,67/3,50.184980,14.659560
1,Elektro-styl.cz,554782.0,Praha,15000,Radlická,1167/17,50.062314,14.404054
2,FUXTEC - zahradni technika,541281.0,Sedlčany,26401,Nádražní,906,49.656350,14.432210
3,Fedák Elektro,559717.0,Rokycany,33701,Malé Náměstí,121,49.741580,13.597470
4,Elektro OK1,577731.0,Svitavy,56802,Náměstí Míru,196/79,49.755830,16.467440

Přejmenování sloupců

In [17]:
nove_nazvy_sloupcu = {'company': 'name',
                      'kod_obce': 'city_code',
                      'city': 'city',
                      'postcode':'zip_code',
                      'street': 'street',
                      'house_number': 'house_NO',
                      'latitude': 'latitude',
                      'longitude' :'longitude' 
                      }
df_prejmenovany = df_vybrany.rename(columns = nove_nazvy_sloupcu)

In [18]:
df_prejmenovany.head(5)

,name,city_code,city,zip_code,street,house_NO,latitude,longitude
0,Teleric Elektro,538094.0,Brandýs Nad Labem,25001,Pražská,67/3,50.184980,14.659560
1,Elektro-styl.cz,554782.0,Praha,15000,Radlická,1167/17,50.062314,14.404054
2,FUXTEC - zahradni technika,541281.0,Sedlčany,26401,Nádražní,906,49.656350,14.432210
3,Fedák Elektro,559717.0,Rokycany,33701,Malé Náměstí,121,49.741580,13.597470
4,Elektro OK1,577731.0,Svitavy,56802,Náměstí Míru,196/79,49.755830,16.467440

chci zjistit kolik má můj dataset řádků

In [19]:
df_prejmenovany.shape

(7596, 8)

Odebrání alzaboxu a alzawall z dat - to už neplatí, nakonec musím odstranit vše a nechat jen řádky s názvem DPD box

In [ ]:

# # Vytvoříme boolean mask, který je True pro řádky, kde 'company' obsahuje 'AlzaBox' nebo 'AlzaWall'
# mask = df_prejmenovany['name'].str.contains('AlzaBox|AlzaWall', na=False, case=False)

# # Invertujeme masku (~) a ponecháme jen řádky, které NEobsahují tyto výrazy
# df_cleaned = df_prejmenovany[~mask]


# df_cleaned.head(5)

,name,city_code,city,zip_code,street,house_NO,latitude,longitude
0,Teleric Elektro,538094.0,Brandýs Nad Labem,25001,Pražská,67/3,50.184980,14.659560
1,Elektro-styl.cz,554782.0,Praha,15000,Radlická,1167/17,50.062314,14.404054
2,FUXTEC - zahradni technika,541281.0,Sedlčany,26401,Nádražní,906,49.656350,14.432210
3,Fedák Elektro,559717.0,Rokycany,33701,Malé Náměstí,121,49.741580,13.597470
4,Elektro OK1,577731.0,Svitavy,56802,Náměstí Míru,196/79,49.755830,16.467440

In [26]:
# Vytvoříme boolean mask, který je True pro řádky, kde 'name' obsahuje 'DPD box'
# 'na=False' zajistí, že buňky s chybějícími hodnotami (NaN) nebudou zahrnuty
# 'case=False' zajistí, že vyhledávání není citlivé na velikost písmen (najde "DPD box", "dpd box" atd.)
mask = df_prejmenovany['name'].str.contains('DPD box', na=False, case=False)

# Nyní použijeme tuto masku přímo k výběru řádků, které splňují podmínku (tj. obsahují "DPD box")
df_cleaned = df_prejmenovany[mask].copy() # Důležité: .copy() zabrání SettingWithCopyWarning


df_cleaned.head(5)

,ID,name,city_code,city,zip_code,street,house_NO,latitude,longitude
2500,2501,DPD box P4 - Nuselská,554782.0,Praha,14000,Nuselská,20,50.062929,14.443581
2501,2502,DPD box Ostrava - DEPO 1384,554821.0,Ostrava,71300,Orlovská,803/162,49.863486,18.322097
2502,2503,DPD box Srbice (VS PETROL),567442.0,Teplice,41510,Srbice,-,50.659008,13.865501
2503,2504,DPD box P14 - Dvořišťská,554782.0,Praha,19000,Dvořišťská,964,50.095012,14.540466
2504,2505,DPD box Liberec - Londýnská,563889.0,Liberec,46001,Londýnská,507/35,50.774486,15.039161

Opět kontrola počtem řádků z kontroly na jinych místech vím, že jich má být 243, což sedí

In [27]:
df_cleaned.shape

(243, 9)

teď si všechna name přepíšu na DPD box a nic víc za tím

In [28]:
# Nyní v těchto vyfiltrovaných řádcích (df_cleaned) přepíšeme hodnotu sloupce 'name' na "DPD box"
# '.loc' je nejlepší způsob, jak bezpečně přistupovat a modifikovat části DataFrame
df_cleaned.loc[:, 'name'] = 'DPD box'

# Zobrazíme prvních 5 řádků, abychom zkontrolovali výsledek
df_cleaned.head(5)

,ID,name,city_code,city,zip_code,street,house_NO,latitude,longitude
2500,2501,DPD box,554782.0,Praha,14000,Nuselská,20,50.062929,14.443581
2501,2502,DPD box,554821.0,Ostrava,71300,Orlovská,803/162,49.863486,18.322097
2502,2503,DPD box,567442.0,Teplice,41510,Srbice,-,50.659008,13.865501
2503,2504,DPD box,554782.0,Praha,19000,Dvořišťská,964,50.095012,14.540466
2504,2505,DPD box,563889.0,Liberec,46001,Londýnská,507/35,50.774486,15.039161

Přidám sloupec s ID a číslováním

In [ ]:

# Použijeme index DataFramu (df_prejmenovany.index), který začíná od 0.
# Přidáme +1, abychom začali číslovat od 1.
df_cleaned['ID'] = range(1, len(df_cleaned) + 1)

# Chci, aby sloupec 'ID' byl úplně první sloupec v DataFramu,

# Nejprve získáme seznam všech sloupců
cols = df_cleaned.columns.tolist()
# Pak přesuneme 'ID' na začátek seznamu
cols = ['ID'] + [col for col in cols if col != 'ID']
# A aplikujeme nové pořadí na DataFrame
df_cleaned = df_cleaned[cols]


df_cleaned.head(5)

,ID,name,city_code,city,zip_code,street,house_NO,latitude,longitude
2500,1,DPD box,554782.0,Praha,14000,Nuselská,20,50.062929,14.443581
2501,2,DPD box,554821.0,Ostrava,71300,Orlovská,803/162,49.863486,18.322097
2502,3,DPD box,567442.0,Teplice,41510,Srbice,-,50.659008,13.865501
2503,4,DPD box,554782.0,Praha,19000,Dvořišťská,964,50.095012,14.540466
2504,5,DPD box,563889.0,Liberec,46001,Londýnská,507/35,50.774486,15.039161

Fixně otypuju sloupce, aby nám při spojování nedělaly neplechu

In [30]:

zmena_typu = {
    'ID': int,
    'name': str,
    'city_code': str,  
    'city': str,
    'zip_code': str,  
    'street': str,
    'house_NO': str,  
    'latitude': float,
    'longitude': float
}

df_cleaned = df_cleaned.astype(zmena_typu)
                               
df_cleaned.dtypes # Pro kontrolu datových typů

ID             int64
name          object
city_code     object
city          object
zip_code      object
street        object
house_NO      object
latitude     float64
longitude    float64
dtype: object

Uložení do nového csv

In [31]:
df_cleaned.to_csv('lf_clean_data_dpd.csv', index=False, encoding='utf-8')