In [4]:
import pandas as pd

df = pd.read_csv('unikatni_ppl_vse.csv')

df.head(5)

,id2,id,accessPointType,pickupEnabled,lastChange,name,capacityStatus,latitude,longitude,box_type,city_abbr,street,note,slouceny,address,latlong
0,1458,4561221,ParcelBox,True,"2025-05-03T09:54:52,960",PBOX ACE Míru (U CBA),Free,50.162559,17.573313,PBOX,ACE,Míru,U CBA,"""50.162558888,17.573313305"",","Míru 12/3, 793 95 Město Albrechtice, Czechia","50.162558888,17.573313305"
1,349,4540715,ParcelBox,True,"2025-05-04T16:14:36,117",PBOX ACE Středová (ADRIATOM),Free,49.783430,18.522770,PBOX,ACE,Středová,ADRIATOM,"""49.78343,18.52277"",","Středová 408, 735 43 Albrechtice-Albrechtice u...","49.78343,18.52277"
2,1453,4561215,ParcelBox,True,"2025-05-04T10:14:51,537",PBOX ADV Nádražní (Albert),Free,49.300471,16.651568,PBOX,ADV,Nádražní,Albert,"""49.300471388,16.651568111"",","Albert, Nádražní 42, 679 04 Adamov-Adamov 1, C...","49.300471388,16.651568111"
3,1768,4573395,ParcelBox,True,"2025-04-30T19:35:25,280",PBOX ANV Albrechtice n.V (Vachta),Free,49.256399,14.307878,PBOX,ANV,Albrechtice n.V,Vachta,"""49.256398611,14.307878111"",","Albrechtice nad Vltavou 16, 398 16 Albrechtice...","49.256398611,14.307878111"
4,965,4328610,ParcelBox,True,"2025-05-03T17:12:51,560",PBOX ASH Chebská (IQ Wash),Free,50.213569,12.199983,PBOX,ASH,Chebská,IQ Wash,"""50.213569194,12.199983111"",","Chebská 2934, 352 01 Aš-Aš 1, Czechia","50.213569194,12.199983111"

In [5]:
new_df = df['address'].str.split(',', expand=True)

In [7]:
new_df.head(5)

,0,1,2,3,4
0,Míru 12/3,793 95 Město Albrechtice,Czechia,None,None
1,Středová 408,735 43 Albrechtice-Albrechtice u Českého Těšína,Czechia,None,None
2,Albert,Nádražní 42,679 04 Adamov-Adamov 1,Czechia,None
3,Albrechtice nad Vltavou 16,398 16 Albrechtice nad Vltavou,Czechia,None,None
4,Chebská 2934,352 01 Aš-Aš 1,Czechia,None,None

In [8]:
new_df.to_csv('ppl_adresy.csv', index=False, encoding='utf-8')

In [9]:
df.to_csv('unikatni_ppl_pokus2.csv', index=False, encoding='utf-8')