---------------------------------------------
LÉKAŘI: Skript pro čištění dat
---------------------------------------------
Předem jsem si přes: assign_address_to_amd_code_PSC.py doplnila do datasetu  
kód RUIAN a název města.
Tento skript provádí:
- Exploraci dat a zjištění rozsahu a kvality dat
- Vyčištění nepotřebných sloupců
- Filtrování pouze na boxy (ne pobočky)
- Odstranění třetích stran (např. AlzaBox)
- Vyčištění názvu boxů (name), měst (city)
- Porovnání city vs. city_name z RUIAN
- Rozpad sloupce address na street a house_no
- Nakonec fixace datových typů pro merge a SQL export

In [ ]:
import pandas as pd
data = pd.read_csv(r'C:\Users\Sabina\Sabi dokumenty\01 Czechitas\01 PYTHON\Python\Detektivky_vizualni_smog\sabi\data\Otevrena-data-NR-01-01-Mista-poskytovani (1) (2)_kod_obce.csv')

df = pd.DataFrame(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40298 entries, 0 to 40297
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   MistoPoskytovaniId           40298 non-null  int64
 1   ZdravotnickeZarizeniId       40298 non-null  int64
 2   Kod                          40298 non-null  int64
 3   NazevZarizeni                40298 non-null  object
 4   DruhZarizeni                 40298 non-null  object
 5   Obec                         40298 non-null  object
 6   Psc                          40271 non-null  object
 7   Ulice                        37634 non-null  object
 8   CisloDomovniOrientacni       40270 non-null  object
 9   Kraj                         40291 non-null  object
 10  KrajCode                     40294 non-null  object
 11  Okres                        40298 non-null  object
 12  OkresCode                    40280 non-null  object
 13  SpravniObvod                 3827 non-null   object
 14  PoskytovatelTelefon          21883 non-null  object
 15  PoskytovatelFax              2027 non-null   float64
 16  PoskytovatelEmail            25251 non-null  object
 17  PoskytovatelWeb              17521 non-null  object
 18  Ico                          40298 non-null  int64
 19  TypOsoby                     40298 non-null  int64
 20  PravniFormaKod               23847 non-null  float64
 21  KrajCodeSidlo                40298 non-null  object
 22  OkresCodeSidlo               40288 non-null  object
 23  ObecSidlo                    40151 non-null  object
 24  PscSidlo                     40147 non-null  float64
 25  UliceSidlo                   36965 non-null  object
 26  CisloDomovniOrientacniSidlo  40150 non-null  object
 27  OborPece                     38663 non-null  object
 28  FormaPece                    35781 non-null  object
 29  DruhPece                     5807 non-null   object
 30  OdbornyZastupce              24074 non-null  object
 31  Lat                          40186 non-null  float64
 32  Lng                          40186 non-null  float64
dtypes: float64(5), int64(5), object(23)
memory usage: 10.1+ MB

C:\Users\Sabina\AppData\Local\Temp\ipykernel_19740\24048535.py:3: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('05_doctors_raw_data.csv', dtype={'Psc': str})

In [9]:
df = pd.DataFrame(data)

df.head(2)

,MistoPoskytovaniId,ZdravotnickeZarizeniId,Kod,NazevZarizeni,DruhZarizeni,Obec,Psc,Ulice,CisloDomovniOrientacni,Kraj,...,ObecSidlo,PscSidlo,UliceSidlo,CisloDomovniOrientacniSidlo,OborPece,FormaPece,DruhPece,OdbornyZastupce,Lat,Lng
0,248893,179113,23019638000000,Mgr. Veronika Vosková,Samostatné zařízení fyzioterapeuta,Praha 10,10100.0,Dykova,543/31,Hlavní město Praha,...,Kladno,27201.0,Italská,2317,Fyzioterapeut,ambulantní péče,NaN,NaN,50.074707,14.453731
1,248917,179111,26422557000027,"EUC Laboratoře s.r.o., odběrová místnost",Odběrová místnost,Praha 2,12800.0,Na slupi,448/6,Hlavní město Praha,...,Praha 1,19000.0,Českomoravská,2532/19,"lékařská mikrobiologie, klinická biochemie, he...",ambulantní péče,NaN,Helena Machovcová,50.069243,14.420391

In [10]:
df['Psc'] = df['Psc'].astype(float).astype(int).astype(str)
# df['Psc'] = df['Psc'].str.replace(".0", "", regex=True)
# df.loc[:, 'address'] = df['address'].str.replace(r'\s*\(.*\)$', '', regex=True)
df['Psc']

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [5]:
df.loc[:,'Psc'] = df['Psc'].astype(str)

C:\Users\Sabina\AppData\Local\Temp\ipykernel_19740\2748811510.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['10100.0' '12800.0' '10100.0' ... '36001.0' '35101.0' '25208.0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:,'Psc'] = df['Psc'].astype(str)

In [6]:
df.to_csv('05_doctors_raw_data.csv', index=False, encoding='utf-8')