In [3]:
import requests
import pandas as pd

url = 'https://api.apify.com/v2/datasets/tG0NVmk7nrsTOq39S/items'
response = requests.get(url)
data = response.json()

spouštět až odsud dolů (v případě chyb, testování...), ať pořád nevoláme api.

In [92]:
df = pd.DataFrame(data)

df.head(2)

,externalId,branchCode,name,distanceFromOrigin,address,coordinates,flags,openingHours,googleMapUrl,canBeSelected
0,I_12714,z-box-ceska-kubice-ceska-kubice-82,Z-BOX,100251.85,"{'name': 'Z-BOX Česká Kubice, Česká Kubice 82'}","{'latitude': 49.36891, 'longitude': 12.8581}","{'isNew': False, 'isClaimAssistant': False, 'i...","{'regular': {'monday': [{'open': '00:00', 'clo...",https://www.google.com/maps/dir/?api=1&destina...,True
1,I_12712,z-box-vseruby-u-kdyne-vseruby-40,Z-BOX,99734.36,"{'name': 'Z-BOX Všeruby u Kdyně, Všeruby 40'}","{'latitude': 49.33973, 'longitude': 12.98162}","{'isNew': False, 'isClaimAssistant': False, 'i...","{'regular': {'monday': [{'open': '00:00', 'clo...",https://www.google.com/maps/dir/?api=1&destina...,True

In [93]:
#Ve stávajícím DF vybrat sloupce, ostatní sloupce zahodit
df = df[['name', 'address', 'coordinates', 'openingHours']]

df.columns
df.head(2)

,name,address,coordinates,openingHours
0,Z-BOX,"{'name': 'Z-BOX Česká Kubice, Česká Kubice 82'}","{'latitude': 49.36891, 'longitude': 12.8581}","{'regular': {'monday': [{'open': '00:00', 'clo..."
1,Z-BOX,"{'name': 'Z-BOX Všeruby u Kdyně, Všeruby 40'}","{'latitude': 49.33973, 'longitude': 12.98162}","{'regular': {'monday': [{'open': '00:00', 'clo..."

In [94]:
# Úprava sloupce address ve 4 krocích, ať je vidět postup.
df['address_text'] = df['address'].str.get('name')
# Vytáhnout hodnotu podle klíče "name" do proměnné "address_text"

df.columns
df.head(2)

,name,address,coordinates,openingHours,address_text
0,Z-BOX,"{'name': 'Z-BOX Česká Kubice, Česká Kubice 82'}","{'latitude': 49.36891, 'longitude': 12.8581}","{'regular': {'monday': [{'open': '00:00', 'clo...","Z-BOX Česká Kubice, Česká Kubice 82"
1,Z-BOX,"{'name': 'Z-BOX Všeruby u Kdyně, Všeruby 40'}","{'latitude': 49.33973, 'longitude': 12.98162}","{'regular': {'monday': [{'open': '00:00', 'clo...","Z-BOX Všeruby u Kdyně, Všeruby 40"

In [95]:
# Odstranit přesný text 'Z-Box' 
df['address_text'] = df['address_text'].str.replace('Z-BOX ', '', regex=False)

df.columns
df.head(2)

,name,address,coordinates,openingHours,address_text
0,Z-BOX,"{'name': 'Z-BOX Česká Kubice, Česká Kubice 82'}","{'latitude': 49.36891, 'longitude': 12.8581}","{'regular': {'monday': [{'open': '00:00', 'clo...","Česká Kubice, Česká Kubice 82"
1,Z-BOX,"{'name': 'Z-BOX Všeruby u Kdyně, Všeruby 40'}","{'latitude': 49.33973, 'longitude': 12.98162}","{'regular': {'monday': [{'open': '00:00', 'clo...","Všeruby u Kdyně, Všeruby 40"

In [96]:
# Ořezat všechny mezery na začátku a konci
df['address_text'] = df['address_text'].str.strip()
df.columns
df.head()

,name,address,coordinates,openingHours,address_text
0,Z-BOX,"{'name': 'Z-BOX Česká Kubice, Česká Kubice 82'}","{'latitude': 49.36891, 'longitude': 12.8581}","{'regular': {'monday': [{'open': '00:00', 'clo...","Česká Kubice, Česká Kubice 82"
1,Z-BOX,"{'name': 'Z-BOX Všeruby u Kdyně, Všeruby 40'}","{'latitude': 49.33973, 'longitude': 12.98162}","{'regular': {'monday': [{'open': '00:00', 'clo...","Všeruby u Kdyně, Všeruby 40"
2,Z-BOX,"{'name': 'Z-BOX Nýrsko, Havlíčkova 474'}","{'latitude': 49.28962, 'longitude': 13.13596}","{'regular': {'monday': [{'open': '00:00', 'clo...","Nýrsko, Havlíčkova 474"
3,Z-BOX,"{'name': 'Z-BOX Hartmanice, Hartmanice 136'}","{'latitude': 49.1695, 'longitude': 13.45571}","{'regular': {'monday': [{'open': '00:00', 'clo...","Hartmanice, Hartmanice 136"
4,Z-BOX,"{'name': 'Z-BOX Kašperské Hory, Dlouhá 138'}","{'latitude': 49.14296, 'longitude': 13.5555}","{'regular': {'monday': [{'open': '00:00', 'clo...","Kašperské Hory, Dlouhá 138"

In [97]:
# Ukázka řádků, které koncí na (*)
df[df['address_text'].str.contains(r'\(.*\)$', na=False)]

df.columns
df.head()

,name,address,coordinates,openingHours,address_text
0,Z-BOX,"{'name': 'Z-BOX Česká Kubice, Česká Kubice 82'}","{'latitude': 49.36891, 'longitude': 12.8581}","{'regular': {'monday': [{'open': '00:00', 'clo...","Česká Kubice, Česká Kubice 82"
1,Z-BOX,"{'name': 'Z-BOX Všeruby u Kdyně, Všeruby 40'}","{'latitude': 49.33973, 'longitude': 12.98162}","{'regular': {'monday': [{'open': '00:00', 'clo...","Všeruby u Kdyně, Všeruby 40"
2,Z-BOX,"{'name': 'Z-BOX Nýrsko, Havlíčkova 474'}","{'latitude': 49.28962, 'longitude': 13.13596}","{'regular': {'monday': [{'open': '00:00', 'clo...","Nýrsko, Havlíčkova 474"
3,Z-BOX,"{'name': 'Z-BOX Hartmanice, Hartmanice 136'}","{'latitude': 49.1695, 'longitude': 13.45571}","{'regular': {'monday': [{'open': '00:00', 'clo...","Hartmanice, Hartmanice 136"
4,Z-BOX,"{'name': 'Z-BOX Kašperské Hory, Dlouhá 138'}","{'latitude': 49.14296, 'longitude': 13.5555}","{'regular': {'monday': [{'open': '00:00', 'clo...","Kašperské Hory, Dlouhá 138"

In [98]:
# Ukázka řádků, kde nebyla čárka
df[df['address_text'].str.contains(',', na=False) == False]

df.columns
df.head(2)

,name,address,coordinates,openingHours,address_text
0,Z-BOX,"{'name': 'Z-BOX Česká Kubice, Česká Kubice 82'}","{'latitude': 49.36891, 'longitude': 12.8581}","{'regular': {'monday': [{'open': '00:00', 'clo...","Česká Kubice, Česká Kubice 82"
1,Z-BOX,"{'name': 'Z-BOX Všeruby u Kdyně, Všeruby 40'}","{'latitude': 49.33973, 'longitude': 12.98162}","{'regular': {'monday': [{'open': '00:00', 'clo...","Všeruby u Kdyně, Všeruby 40"

In [99]:
# Rozdělit řádek po 1. čárku (n=1), vytvořit nové sloupce (expand=True)
df[['city', 'street_and_number']] = df['address_text'].str.split(',', expand=True, n=1)

df.columns
df.head(2)

,name,address,coordinates,openingHours,address_text,city,street_and_number
0,Z-BOX,"{'name': 'Z-BOX Česká Kubice, Česká Kubice 82'}","{'latitude': 49.36891, 'longitude': 12.8581}","{'regular': {'monday': [{'open': '00:00', 'clo...","Česká Kubice, Česká Kubice 82",Česká Kubice,Česká Kubice 82
1,Z-BOX,"{'name': 'Z-BOX Všeruby u Kdyně, Všeruby 40'}","{'latitude': 49.33973, 'longitude': 12.98162}","{'regular': {'monday': [{'open': '00:00', 'clo...","Všeruby u Kdyně, Všeruby 40",Všeruby u Kdyně,Všeruby 40

In [100]:
# Rozdělit ulici a číslo, po první mezeru zprava (rsplit)
if 'street_and_number' in df.columns:
    street_split = df['street_and_number'].str.rsplit(' ', n=1, expand=True)
    df['street'] = street_split[0]
    df['house_number'] = street_split[1]
    
df.columns
df.head(2)

,name,address,coordinates,openingHours,address_text,city,street_and_number,street,house_number
0,Z-BOX,"{'name': 'Z-BOX Česká Kubice, Česká Kubice 82'}","{'latitude': 49.36891, 'longitude': 12.8581}","{'regular': {'monday': [{'open': '00:00', 'clo...","Česká Kubice, Česká Kubice 82",Česká Kubice,Česká Kubice 82,Česká Kubice,82
1,Z-BOX,"{'name': 'Z-BOX Všeruby u Kdyně, Všeruby 40'}","{'latitude': 49.33973, 'longitude': 12.98162}","{'regular': {'monday': [{'open': '00:00', 'clo...","Všeruby u Kdyně, Všeruby 40",Všeruby u Kdyně,Všeruby 40,Všeruby,40

In [101]:
# Vytáhnout hodnoty 'lat' a 'long'
df['latitude'] = df['coordinates'].str.get('latitude')
df['longitude'] = df['coordinates'].str.get('longitude')

df.columns
df.head(2)

,name,address,coordinates,openingHours,address_text,city,street_and_number,street,house_number,latitude,longitude
0,Z-BOX,"{'name': 'Z-BOX Česká Kubice, Česká Kubice 82'}","{'latitude': 49.36891, 'longitude': 12.8581}","{'regular': {'monday': [{'open': '00:00', 'clo...","Česká Kubice, Česká Kubice 82",Česká Kubice,Česká Kubice 82,Česká Kubice,82,49.36891,12.85810
1,Z-BOX,"{'name': 'Z-BOX Všeruby u Kdyně, Všeruby 40'}","{'latitude': 49.33973, 'longitude': 12.98162}","{'regular': {'monday': [{'open': '00:00', 'clo...","Všeruby u Kdyně, Všeruby 40",Všeruby u Kdyně,Všeruby 40,Všeruby,40,49.33973,12.98162

In [102]:
# Vymazat pomocné sloupce (axis - směr, horitontálně - 1)
df = df.drop(['address', 'address_text', 'street_and_number', 'coordinates'], axis=1)

df.columns
df.head(1)

,name,openingHours,city,street,house_number,latitude,longitude
0,Z-BOX,"{'regular': {'monday': [{'open': '00:00', 'clo...",Česká Kubice,Česká Kubice,82,49.36891,12.8581

In [103]:
# Úprava sloupce openingHours - postupně rozbalím a uvidím, co s tím.
df['regular'] = df['openingHours'].str.get('regular')

df.columns
df.head(2)

,name,openingHours,city,street,house_number,latitude,longitude,regular
0,Z-BOX,"{'regular': {'monday': [{'open': '00:00', 'clo...",Česká Kubice,Česká Kubice,82,49.36891,12.85810,"{'monday': [{'open': '00:00', 'close': '23:59'..."
1,Z-BOX,"{'regular': {'monday': [{'open': '00:00', 'clo...",Všeruby u Kdyně,Všeruby,40,49.33973,12.98162,"{'monday': [{'open': '00:00', 'close': '23:59'..."

Tady jsem se blokla. Chtěla jsem řešit for cyklem, ale vůbec nevím, jak na to 
v Pandas

regular = {
    'monday': [{'open': '00:00', 'close': '23:59'}],
    'tuesday': [{'open': '00:00', 'close': '23:59'}],
    'wednesday': [{'open': '00:00', 'close': '23:59'}],
    'thursday': [{'open': '00:00', 'close': '23:59'}],
    'friday': [{'open': '00:00', 'close': '23:59'}],
    'saturday': [{'open': '00:00', 'close': '23:59'}],
    'sunday': [{'open': '00:00', 'close': '23:59'}],
    'exceptionDays': [
        {'from': '2025-04-18T00:00:00', 'times': [{'open': '00:00', 'close': '23:59'}]},
        {'from': '2025-04-21T00:00:00', 'times': [{'open': '00:00', 'close': '23:59'}]},
        ...
    ]
}
for den, seznam in regular.items():
    zaznam = seznam[0]
    for stav, cas in zaznam.items():
        print(den, stav, cas)

Toto se mi vypíše: to jsem si moc nepomohla.
monday open 00:00
monday close 23:59
tuesday open 00:00
tuesday close 23:59
wednesday open 00:00
wednesday close 23:59
thursday open 00:00
thursday close 23:59
friday open 00:00
friday close 23:59
saturday open 00:00
saturday close 23:59
sunday open 00:00
sunday close 23:59

Tak prostě loupu cibuli, nic jiného neumím.

In [104]:
# Úprava sloupce openingHours - postupně rozbalím a uvidím, co s tím, nic 
# lepšího neumím
df['monday'] = df['regular'].str.get('monday')
df['tuesday'] = df['regular'].str.get('tuesday')
df['wednesday'] = df['regular'].str.get('wednesday')
df['thursday'] = df['regular'].str.get('thursday')
df['friday'] = df['regular'].str.get('friday')
df['saturday'] = df['regular'].str.get('saturday')
df['sunday'] = df['regular'].str.get('sunday')

df.columns
df.head(2)

,name,openingHours,city,street,house_number,latitude,longitude,regular,monday,tuesday,wednesday,thursday,friday,saturday,sunday
0,Z-BOX,"{'regular': {'monday': [{'open': '00:00', 'clo...",Česká Kubice,Česká Kubice,82,49.36891,12.85810,"{'monday': [{'open': '00:00', 'close': '23:59'...","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]"
1,Z-BOX,"{'regular': {'monday': [{'open': '00:00', 'clo...",Všeruby u Kdyně,Všeruby,40,49.33973,12.98162,"{'monday': [{'open': '00:00', 'close': '23:59'...","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]"

Seznam slovníků - vybrat první pozici
Nakonec rozdělit dny na open and close a je to
na moji obranu, toto jsme fakt nebrali - aneb mám začátečnické znalosti
a nebojím se je využít

In [105]:
df['monday_0'] = df['monday'].str[0]
df['tuesday_0'] = df['tuesday'].str[0]
df['wednesday_0'] = df['wednesday'].str[0]
df['thursday_0'] = df['thursday'].str[0]
df['friday_0'] = df['friday'].str[0]
df['saturday_0'] = df['saturday'].str[0]
df['sunday_0'] = df['sunday'].str[0]

df.columns
df.head(2)

,name,openingHours,city,street,house_number,latitude,longitude,regular,monday,tuesday,...,friday,saturday,sunday,monday_0,tuesday_0,wednesday_0,thursday_0,friday_0,saturday_0,sunday_0
0,Z-BOX,"{'regular': {'monday': [{'open': '00:00', 'clo...",Česká Kubice,Česká Kubice,82,49.36891,12.85810,"{'monday': [{'open': '00:00', 'close': '23:59'...","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]",...,"[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","{'open': '00:00', 'close': '23:59'}","{'open': '00:00', 'close': '23:59'}","{'open': '00:00', 'close': '23:59'}","{'open': '00:00', 'close': '23:59'}","{'open': '00:00', 'close': '23:59'}","{'open': '00:00', 'close': '23:59'}","{'open': '00:00', 'close': '23:59'}"
1,Z-BOX,"{'regular': {'monday': [{'open': '00:00', 'clo...",Všeruby u Kdyně,Všeruby,40,49.33973,12.98162,"{'monday': [{'open': '00:00', 'close': '23:59'...","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]",...,"[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]","{'open': '00:00', 'close': '23:59'}","{'open': '00:00', 'close': '23:59'}","{'open': '00:00', 'close': '23:59'}","{'open': '00:00', 'close': '23:59'}","{'open': '00:00', 'close': '23:59'}","{'open': '00:00', 'close': '23:59'}","{'open': '00:00', 'close': '23:59'}"

Zůstávají chybné sloupce i po restartu kernelu. Umím se jich zbavit jen 
selectem v dalším kroku

In [106]:
df['monday_open'] = df['monday_0'].str.get('open')
df['monday_close'] = df['monday_0'].str.get('close')

df['tuesday_open'] = df['tuesday_0'].str.get('open')
df['tuesday_close'] = df['tuesday_0'].str.get('close')

df['wednesday_open'] = df['wednesday_0'].str.get('open')
df['wednesday_close'] = df['wednesday_0'].str.get('close')

df['thursday_open'] = df['thursday_0'].str.get('open')
df['thursday_close'] = df['thursday_0'].str.get('close')

df['friday_open'] = df['friday_0'].str.get('open')
df['friday_close'] = df['friday_0'].str.get('close')

df['saturday_open'] = df['saturday_0'].str.get('open')
df['saturday_close'] = df['saturday_0'].str.get('close')

df['sunday_open'] = df['sunday_0'].str.get('open')
df['sunday_close'] = df['sunday_0'].str.get('close')

df.columns
df.head(2)

,name,openingHours,city,street,house_number,latitude,longitude,regular,monday,tuesday,...,wednesday_open,wednesday_close,thursday_open,thursday_close,friday_open,friday_close,saturday_open,saturday_close,sunday_open,sunday_close
0,Z-BOX,"{'regular': {'monday': [{'open': '00:00', 'clo...",Česká Kubice,Česká Kubice,82,49.36891,12.85810,"{'monday': [{'open': '00:00', 'close': '23:59'...","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]",...,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
1,Z-BOX,"{'regular': {'monday': [{'open': '00:00', 'clo...",Všeruby u Kdyně,Všeruby,40,49.33973,12.98162,"{'monday': [{'open': '00:00', 'close': '23:59'...","[{'open': '00:00', 'close': '23:59'}]","[{'open': '00:00', 'close': '23:59'}]",...,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59

Teď je ješě třeba projít finální scv a dočistit jednotlivé sloupce.
- house_number - přepsat vše co není číslo a nebo číslo/číslo - jako null

In [107]:
df = df[['name', 'city', 'street', 'house_number', 'latitude', 'longitude',	
         'monday_open', 'monday_close', 'tuesday_open', 'tuesday_close', 
         'wednesday_open', 'wednesday_close', 'thursday_open', 'thursday_close', 
         'friday_open', 'friday_close', 'saturday_open', 'saturday_close', 
         'sunday_open', 'sunday_close', 'openingHours']]

df.columns
df.head(2)

,name,city,street,house_number,latitude,longitude,monday_open,monday_close,tuesday_open,tuesday_close,...,wednesday_close,thursday_open,thursday_close,friday_open,friday_close,saturday_open,saturday_close,sunday_open,sunday_close,openingHours
0,Z-BOX,Česká Kubice,Česká Kubice,82,49.36891,12.85810,00:00,23:59,00:00,23:59,...,23:59,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59,"{'regular': {'monday': [{'open': '00:00', 'clo..."
1,Z-BOX,Všeruby u Kdyně,Všeruby,40,49.33973,12.98162,00:00,23:59,00:00,23:59,...,23:59,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59,"{'regular': {'monday': [{'open': '00:00', 'clo..."

Nespouštím poslední příkaz - uložení do json souboru, protože máv df pořád 
sloupec opening hours (nedohodly jsme se, co s tím.)

In [108]:
# import json

# df.to_json('zasilkovna_cisty_dataset.json', orient='records', force_ascii=False, indent=4)

In [ ]:
df.to_csv('zasilkovna_cleaned_dataset.csv', index=False, encoding='utf-8')